@import "tailwindcss";

@theme {
  --color-burgundy: #7a1f2b;
  --color-burgundy-dark: #5c1620;
  --color-gold: #b8935f;
  --color-burgundy-light: #b06774;
}

body {
  background-color: #ffffff;
  color: #1c1c1c;
}